<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.first_name %> !</h1>
    <p>
      You just signed up on mywebsite.com with the following email : <%= @user.email %>.
    </p>
    <p>
      Access your profile here : <%= @url %>.
    </p>
    <p> See you soon!
  </body>
</html>
