

<div class="container" style="border-left: 1px solid gray; lef-padding: 20px;">
<div style="float:right"><%= link_to "Mark as unread", email_path(@email.id), method: :put, class: "btn btn-outline-success btn-sm", remote: true %>
<%= link_to "Delete", email_path(@email.id), method: :delete, class: "btn btn-outline-warning btn-sm",remote: true %></div>
  <div style="font-size: 24px;"><i class="fa fa-envelope"></i> <b>Subject: <%= @email.subject  %></b></div>
<div><%= @email.body  %></div>

</div>
