<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande modification de votre mot de passe a été effectuée sur Chatons. Vous pouvez procéder à sa modification en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande merci d'ignorer cet email.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien ci-dessus et modifié votre ancien mot de passe.</p>
